/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load paths:
                /Users/andy/RecipeHub (DEPRECATED)
                /Users/andy/RecipeHub/app/assets/stylesheets
        on line 5 of /Users/andy/RecipeHub/app/assets/stylesheets/application.css.scss

1: //= require_self
2: //= require guiders
3: //= require_tree .
4: 
5: @import "bootstrap";
6: body { padding-top: 60px; }
7: @import "bootstrap-responsive";
8: 
9: .hero-unit {
10:   padding-top: 20px;

Backtrace:
/Users/andy/RecipeHub/app/assets/stylesheets/application.css.scss:5
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/import_node.rb:45:in `import'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/stack.rb:121:in `with_frame'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/stack.rb:79:in `with_base'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/engine.rb:274:in `render'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:186:in `each'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/sass-3.3.3/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/listen-2.7.1/lib/listen/listener.rb:149:in `call'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/listen-2.7.1/lib/listen/listener.rb:149:in `block in _wait_for_changes'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/listen-2.7.1/lib/listen/listener.rb:138:in `loop'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/listen-2.7.1/lib/listen/listener.rb:138:in `_wait_for_changes'
/Users/andy/.rvm/gems/ruby-1.9.3-p392@forkingrecipes/gems/listen-2.7.1/lib/listen/listener.rb:42:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load paths:\A                 /Users/andy/RecipeHub (DEPRECATED)\A                 /Users/andy/RecipeHub/app/assets/stylesheets\A         on line 5 of /Users/andy/RecipeHub/app/assets/stylesheets/application.css.scss\A \A 1: //= require_self\A 2: //= require guiders\A 3: //= require_tree .\A 4: \A 5: @import \"bootstrap\";\A 6: body { padding-top: 60px; }\A 7: @import \"bootstrap-responsive\";\A 8: \A 9: .hero-unit {\A 10:   padding-top: 20px;"; }
