%div
  %h1{:id => "new-recipe"}
    New recipe


  = render 'form'

  = link_to 'Back', :back


:javascript

  $('table#format-guide').css('display', 'none');

  $('a.action-btn.guide-btn').click( function() {
    $('table#format-guide').slideToggle( "slow", function() {
      // Animation complete.
    });
    event.preventDefault();
  });



