%section.featured
  - @images.each do |image, recipe|
    %div.rec-item
      %a.recipe-link{:href => recipe_path(recipe)}
        %img{:src => image}
        .item-text
          = recipe.title
      %ul.recipe-stats
        %li.forks
          forks
        %li.saves
          saves
