//= require_self
//= require_tree .

@import "bourbon";
@import "neat";


$orange: #F78F27;
$yellow: #F9AB20;
$green-light: #B5D276;
$green: #A4B75E;
$green-dark: #939D47;
$green-darker: #103E00;
$purple: #96419E;

$footer-height: 100px;

$pixelBase : 16;

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: (($sizeValue * 10) / $pixelBase)  + rem;
}

$baseline-px: 16px;

@mixin rem($property, $px-values) {
  $baseline-rem: $baseline-px / 1rem;
  #{$property}: $px-values;
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    $rem-values: unquote("");
    @each $value in $px-values {
      @if $value == 0 or type-of($value) == "string" or type-of($value) == "color" {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    #{$property}: $rem-values; }
  }

html {
  font-size: 100%;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  @include rem('line-height', 20px);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  padding: 70px 0 0;
  background-color: #fafafa;
  background-image: url("/assets/light_toast.png");
  margin: 0 0 $footer-height;
  color: #444;
}

#main {
  padding: 0;
}

h1, h2, h3 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin-top: 0;
}

h3 {
  font-size: 1.4rem;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

#main-container {
  @include outer-container;
  padding: 0 20px;
  max-width: 1280px;
}

.main-content {
  @include span-columns(8);
}

.sidebar {
  @include span-columns(4);
  @include omega();

  ul.nav-list {
    display: block;
    list-style: none;
    margin-top: 0;
    padding: 0;

    li {
      @include rem('margin-left', 20px);
      @include rem('margin-bottom', 5px);

      &.nav-header {
        display: block;
        margin-left: 0;
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 22.4px;
      }
    }
  }
}

.recipe-title {
  font-family: 'Open Sans', sans-serif;
}

.recipe {
  padding: 10px;
  background-color: #fff;
  border: 3px solid rgba(#eee, 1);
  border-radius: 4px;
}

.featured {
  @include columns(226px);
  @include rem('-moz-column-gap', 20px);
  @include rem('-webkit-column-gap', 20px);
  @include rem('column-gap', 20px);
}

.rec-item {
  display: inline-block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;

  a.recipe-link {
    position: relative;
    display: block;
    padding: 10px;
    border: 3px solid rgba(#eee, 1);
    background-color: #fff;
    border-radius: 4px;
    @include transition (all 0.3s ease-in-out);
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 2px;
    -webkit-filter: brightness(1) contrast(100%);
    filter: brightness(1) contrast(100%);
    @include transition (filter 0.3s ease-in-out);
  }

  .item-text {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 15%;
    left: 10px;
    padding: 5px;
    background-color: rgba(#fff, 0.9); 
    color: #666;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 500;
    @include transition (all 0.3s ease-in-out);
  }

  &:hover {

    a.recipe-link {
      border-color: rgba($green-dark, 1);
    }

    img {
      -webkit-filter: brightness(1.1) contrast(110%);
      filter: brightness(1.1) contrast(110%);
    }

    .item-text {
      bottom: 19%;
      color: #333;
      -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
      background-color: rgba(#fff, 1); 
    }

    .recipe-stats li {
      color: #444;
    }
  }

  .recipe-stats {
    margin: 0;
    list-style: none;
    padding: 0;
    @include clearfix;

    li {
      @include rem("font-size", 14px);
      color: #666;
      display: block;
      width: 50%;
      padding: 0 5px;
      float: left;
      text-align: center;
    }
  }
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 50px;
  z-index: 2000;
  background-color: #fff;
  color:  #ccc;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
  border-bottom: 4px solid $green-dark;

    .navbar-inner {
      @include outer-container;
      max-width: 1280px;
      @include rem("font-size", 14px);
    }

    a {
      display: block;
      color: #666;
      text-decoration: none;
      @include rem('padding', 10px 0);
      @include transition (all 0.3s ease-in-out);

      &:hover {
        color: $orange;
      }
    }

    * {
      @include rem('line-height', 30px);
    }

    .brand {
      display: block;
      @include rem('margin', 0 40px 0 20px);
      float: left;
      @include rem('font-size', 24px);
      color: $green-dark;
      font-family: 'Merriweather', serif;
      font-weight: 300;
    }

    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: list-item;
        float: left;
        @include rem('margin-right', 20px);

        &.search-item {
          @include rem('padding-top', 10px);
          @include clearfix;

          input[type=text] {
          -webkit-appearance: none;
          background-color: #fafafa;
          border: 1px solid rgb(204, 204, 204);
          border-right: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
          color: rgb(85, 85, 85);
          display: block;
          float: left;
          @include rem('font-size', 13px);
          @include rem('line-height', 20px);
          height: 30px;
          padding: 4px 6px;
          vertical-align: middle;
          width: 206px;

          &:focus {
            border-color: $green-light;
            outline: none;
            background-color: #fff;
          }

          &:hover {
            background-color: #fff;
          }
        }

        .btn {
          -webkit-appearance: none;
          display: block;
          float: left;
          margin: 0;
          background-color: #fafafa;
          border: 1px solid  rgb(204, 204, 204);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          @include rem('font-size', 13px);
          @include rem('line-height', 20px);
          color: #666;
          height: 30px;
          padding: 4px 6px;
          @include transition (all 0.3s ease-in-out);

          &:hover {
            background-color: $green-light;
            color: #fff;
          }
        }
        }
      }
    }

    .pull-right {
      float: right;
      margin-right: 0;
    }

    .pull-left {
      float: left;
      margin-right: 0;
    }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: table;
  height: $footer-height;
  width: 100%;
  clear: both;
  padding: 20px;
  background-color: $green-light;
  border-top: 4px solid $green-dark;

  .footer-info {
    @include outer-container;
    max-width: 1280px;
    display: table-cell;
    vertical-align: middle;
  }
}

.welcome {
  margin: -70px 0 20px;
  padding: 70px 20px 20px;
}

.welcome.logged-out {
  position: relative;
  display: table;
  vertical-align: middle;
  width: 100%;
  min-height: 600px;
  margin: -70px 0 20px;
  padding: 70px 0 40px;
  background-image: url("/assets/flickr_auxesis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 2px solid $green-dark;
  color: #fff;
  text-shadow: rgba(#000, 1) 0px 0px 1px, rgba(#000, 0.9) 0px 0px 25px;

  .welcome-inner {
    display: table;
    height: 100%;
    width: 100%;

    .message {
      display: table-cell;
      width: 50%;
      height: 100%;
      padding-right: 10px;
      vertical-align: middle;

      h1, h2 {
        font-family: 'Merriweather', serif;
        font-weight: 300;
        margin: 0;
        line-height: 1.4em;
      }

      h1 {
        margin-left: 20%;
        font-size: 3rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      h2 {
        margin-left: 20%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-width: 1px 1px 0 1px;
        padding-bottom: 20px;
      }

      .description {
        padding: 10px 20px 10px 20%;
        line-height: 1.4em;
        margin-top: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #fff;

        h3 {
          //border-top: 2px solid $green-dark;
          //text-shadow: rgba(0, 0, 0, 0.8) 0px 0px 1px, rgba(0, 0, 0, 0.7) 0px 0px 35px;
          //padding: 10px 20px 10px 20%;
          font-weight: 300;
          //color: #fff;
        }

        ul {
          padding: 0;
          list-style: none;

          li {
            margin-bottom: 0.5em;
            background-color: rgba(#000, 0.8);
            padding: 10px;
            border-radius: 4px;
          }

        }
      }
    }

    .login {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 20px;
      text-align: center;

      .form-wrapper {
        display: inline-block;
        margin: 0 auto;
        text-align: left;
        width: 100%;
        max-width: 400px;

        h2 {
          margin-bottom: 40px;

          .little {
            position: relative;
            top: -2px;
            @include rem('font-size', 14px);
            font-style: italic;
            margin: 0 10px;
          }

          .signin-tab, .signup-tab {
            
          }

          .signup-tab {
            border: 2px solid #fff;
            padding: 1px 5px 5px;
            border-radius: 3px;
            background-color: rgba($green, 1);
            cursor: pointer;
            @include transition (all 0.3s ease-in-out);
            text-shadow: none;

            &:hover {
              background-color: rgba($green-light, 1);
            }
          }
        }
      }

      label {
        display: block;

        input[type="text"], input[type="email"], input[type="password"] {
          -webkit-appearance: none;
          background-color: rgba(#fff, 0.5);
          border: 3px solid rgba(#fff, 1);
          border-radius: 4px;
          color: #444;
          display: block;
          @include rem('font-size', 16px);
          height: 45px;
          padding: 4px 6px;
          vertical-align: middle;
          width: 100%;
          margin: 5px 0 20px;
          @include transition (all 0.3s ease-in-out);

          &:hover {
            background-color: rgba(#fff, 0.8);
          }

          &:focus {
            background-color: rgba(#fff, 1);
            outline: 1px dotted rgba(#ccc, 1);
          }
        }
      }
    }
  }

  .welcome-footer {
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: right;

    a {
      @include rem("font-size", 11px);
      color: #fff;

      &:hover {
        color: $green-dark;
      }
    }
  }
}


.welcome input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}



// end