//= require_self
//= require_tree .

@import "bourbon";
@import "neat";

$orange: #F78F27;
$yellow: #F9AB20;
$green-light: #B5D276;
$green: #A4B75E;
$green-dark: #939D47;
$green-darker: #103E00;
$purple: #96419E;

$pixelBase : 16;
@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: (($sizeValue * 10) / $pixelBase)  + rem;
}

$baseline-px: 16px;

@mixin rem($property, $px-values) {
  $baseline-rem: $baseline-px / 1rem;
  #{$property}: $px-values;
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    $rem-values: unquote("");
    @each $value in $px-values {
      @if $value == 0 or type-of($value) == "string" or type-of($value) == "color" {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    #{$property}: $rem-values; }
  }

  // Old styles

.recipe-list {
  vertical-align: top;
}

.recipe-header {
  text-align: left;
}

.recipe img {
  max-width: 610px;
}

.item-text {
  text-align: center;
  color: black;
  padding-left: 2px;
  padding-right: 2px;
  font-size: medium;
}

#recent_recipes {
  width: 50%;
  display: inline-block;
}

#recent_users {
  display: inline-block;
  width: 30%;
  float:right;
}

#new-recipe {
  display: inline;
}

footer {
  padding-left: 5px;
}


// New styles

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  @include rem('line-height', 20px);
  padding: 70px 0 40px;
  background-color: #fafafa;
  background-image: url("/assets/light_toast.png");
  margin: 0;
}

#main {
  padding: 0 20px;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: $orange;
  text-decoration: none;

  &:hover {
    color: $yellow;
  }
}

.recipe-title {
  font-family: 'Open Sans', sans-serif;
}

.recipe ul {
  @include columns(3);
  list-style: inside disc;
}



.featured {
  @include columns(226px);
}

.rec-item {
  position: relative;
  display: inline-block;
  max-width: 226px;
  border: 3px solid rgba(#eee, 1);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  @include transition (all 0.3s ease-in-out);

  img {
    max-width: 100%;
    border-radius: 2px;
  }

  .item-text {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
    padding: 10px 0;
    background-color: rgba(#fff, 0.9); 
    color: #666;
    z-index: 500;
    @include transition (all 0.3s ease-in-out);
  }

  &:hover {
    border-color: rgba($green-dark, 1);

    .item-text {
      color: #333;
      background-color: rgba(#fff, 1); 
    }
  }

  a {
    display: block;
    padding: 10px;
  }
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background-color: #fff;
  color:  #ccc;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
  border-style:  solid;
  border-color: $green-dark;
  border-width: 0 0 4px 0;

    a {
      display: block;
      color: #666;
      text-decoration: none;
      @include rem('padding', 10px 0);
      @include transition (all 0.3s ease-in-out);

      &:hover {
        color: $purple;
      }
    }

    * {
      @include rem('line-height', 30px);
    }

    .brand {
      font-family: 'Cookie', cursive;
      display: block;
      @include rem('margin', 0 40px 0 20px);
      float: left;
      @include rem('font-size', 32px);
      color: $green-dark;
    }

    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: list-item;
        float: left;
        @include rem('margin-right', 20px);

        &.search-item {
          @include rem('padding-top', 5px);

          input {
            @include rem('line-height', 20px);
          }
        }
      }
    }

    .pull-right {
      float: right;
      margin-right: 0;
    }

    .pull-left {
      float: left;
      margin-right: 0;
    }
}

input[type=text] {
  -webkit-appearance: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  color: rgb(85, 85, 85);
  cursor: auto;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  margin-top: 5px;
  padding: 4px 6px;
  text-align: start;
  text-indent: 0px;
  vertical-align: middle;
  width: 206px;
}

.test {
  color: green;
}