@import "bourbon";
@import "neat";

$orange: #F78F27;
$yellow: #F9AB20;
$green: #69BD45;

$pixelBase : 16;
@mixin font-size($sizeValue: 1.6){
  font-size: ($sizeValue * 10) + px;
  font-size: (($sizeValue * 10) / $pixelBase)  + rem;
}

$baseline-px: 16px;

@mixin rem($property, $px-values) {
  $baseline-rem: $baseline-px / 1rem;
  #{$property}: $px-values;
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    $rem-values: unquote("");
    @each $value in $px-values {
      @if $value == 0 or type-of($value) == "string" or type-of($value) == "color" {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    #{$property}: $rem-values; }
  }
body {
  font-family: 'Open Sans', sans-serif;
}

.container-fluid {
  @include outer-container;
}

.recipe img {
  max-width: 100%;
}