- if !user_signed_in?
  %section.welcome.logged-out
    .welcome-inner
      .message
        %h1
          Forking Recipes
        .description
          %ul
            %li
              %b
                Post
              a recipe and track every change to see the evolution recipes.
            %li
              %b
                Fork
              a recipe to your profile and put your own unique spin on it.
            %li
              %b
                Follow
              users and see what they're posting and forking.
      .login
        .form-wrapper
          %h2
            %span.signin-tab
              = link_to('Sign In', new_user_session_path)
            %span.little
              \~OR~
            %span.signup-tab
              = link_to('Sign up', new_user_registration_path)
          %form{:action => "/users/sign_in", :class => "new_user", :id => "new_user", :method => "post"}
            %div{:style => "margin:0;padding:0;"}
              %label{:for => "user_email"}
                %i.fa.fa-envelope
                Email
                %input{:id => "user_email", :name => "user[email]", :size  => "30", :type=>"email"}
              %label{ :for=>"user_password"}
                %i.fa.fa-lock
                Password
                %input{ :id=>"user_password", :name=>"user[password]", :size=>"30", :type=>"password"}
              %label{ :for=>"user_remember_me"}
                Remember me
                %input{ :id=>"user_remember_me", :name=>"user[remember_me]", :type=>"checkbox", :value=>"1"}
              %div
                %input{:name=>"commit", :type=>"submit", :value=>"Sign in"}
    .welcome-footer
      %a{:href => "http://www.flickr.com/photos/auxesis/", :target=> "blank"}
        Image by Lindsay Holmwood (flickr user, auxesis)
      %a{:href => "http://creativecommons.org/licenses/by-sa/2.0/", :target=> "blank"} - (CC BY-SA 2.0)



/end
